
<mat-card fxFlex="400px">
    <mat-card-content>
        <mat-card-title>{{todoElement?.name}}</mat-card-title>
        <mat-card-actions fxLayout fxLayoutAlign="flex-end">
            <mat-form-field>
                <mat-label>Language</mat-label>
                <mat-select [value]="todoElement?.language" (selectionChange)="translateTodo(lang, todoElement)" #lang>
                    <mat-option value="en">English</mat-option>
                    <mat-option value="af">Afrikaans</mat-option>
                    <mat-option value="ga">Irish</mat-option>
                    <mat-option value="es">Español</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="deleteTodo(todoElement?.id)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
    </mat-card-content >
</mat-card>