<mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
    </button>
    </div>
    <div><a routerLink="/">Home</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li *ngIf="!isLoggedIn"><a routerLink="/signup">Signup</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="(isLoggedIn && userRole ==='user')"><a routerLink="/todo">Todos</a></li>
        <li *ngIf="(isLoggedIn && userRole ==='admin')"><a routerLink="/user">Users</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/" (click)="onLogout()">Logout</a></li>
      </ul>    
    </div>
</mat-toolbar>